#### 2.2 데이터 타입

##### 2.2.2 문자열
---

In [20]:
"Hello World"

'Hello World'

In [21]:
'Hello World'

'Hello World'

In [17]:
"""퀀트 투자 포트폴리오 만들기"""

'퀀트 투자 포트폴리오 만들기'

In [16]:
'''퀀트 투자 포트폴리오 만들기'''

'퀀트 투자 포트폴리오 만들기'

In [3]:
# 따옴표를 3 개 사용할 경우 줄 바꿈을 통해 여러 줄의 문자열을 만들 수 있다.
multiline = """ Life is too short 
You need python""" 

print(multiline)

 Life is too short
You need python

In [4]:
# 문자열 맨 앞에 f를 붙이면 f-string 포매팅이 선언되며, 중괄호 안에 
# 변수를 넣으면 해당 부분에 변수의 값이 입력 된다 .
name = '조문수'
birth = '1984' 

f'나의 이름은 {name}이며, {birth}년에 태어났습니다.'

'나의 이름은 조문수이며, 1984년에 태어났습니다.'

In [1]:
# 문자열 길이 구하기: len()
a = 'Life is too short' 
len(a)

17

In [2]:
# 문자열 치환하기: replace()
# 문자열.replace(a, b): a를 b로 치환
var = '퀀트 투자 포트폴리오 만들기' 
var.replace (' ', '_')

'퀀트_투자_포트폴리오_만들기'

In [5]:

# 문자열 나누기: split()
var = '퀀트 투자 포트폴리오 만들기' 
var.split(' ')

['퀀트', '투자', '포트폴리오', '만들기']

In [6]:
# 문자열 인덱싱(파이썬은 숫자가 0부터 시작 → 2는 세번째 문자)
var = 'Quant'
var[2]

'a'

In [7]:
# 인덱싱에 마이너스(-) 기호를 붙이면 문자열 뒤에서 부터 읽는다.
var[-2]

'n'

In [8]:
# 슬라이싱 var[시작:마지막], 이때 마지막 번호는 미포함
# var[0:3] → 0이상 3미만(첫번째 부터 세번째 까지)
var[:3]

[1, 2, 3]

In [26]:
var[3:]

[4]

##### 2.2.3 리스트
---

In [15]:
# 리스트: 연속된 데이터 표현, 대괄호([]) 이용해 생성
# 리스트_숫자
list_num = [1, 2, 3]
print(list_num)

[1, 2, 3]

In [16]:
# 리스트_문자열
list_char = ['a', 'b', 'c']
print(list_char)

['a', 'b', 'c']

In [17]:
# 리스트_복합
list_complex = [1, 'a', 2]
print(list_complex)

[1, 'a', 2]

In [18]:
# 리스트_중첩
list_nest = [1, 2, ['a', 'b']]
print(list_nest)

[1, 2, ['a', 'b']]

In [19]:
# 리스트 인덱싱
var = [1, 2, ['a', 'b', 'c']]
var[0]

1

In [20]:
# 리스트 인덱싱
var[2]

['a', 'b', 'c']

In [21]:
# 리스트에서 내부 리스트 인덱싱
var[2][0]

'a'

In [ ]:
# 리스트 슬라이싱
var = [1, 2, 3, 4, 5]
var[0:2]

In [ ]:
# 리스트 연산 + : 두 리스트를 하나로 합치기
a = [1, 2, 3]
b = [4, 5, 6]

a + b

In [ ]:
# 리스트 연산 * : 해당 리스트를 n번 반복
a = [1, 2, 3]
a * 3

In [ ]:
# 리스트에 요소 추가 append() : 리스트 마지막에 데이터 추가
var = [1, 2, 3]
var.append(4)
print(var)

In [ ]:
# append() 함수 내에 리스트 입력 시 중첩된 형태로 추가
var = [1, 2, 3]
var.append([4, 5])
print(var)

In [ ]:
# extend() : 리스트 내에 중첩된 형태가 아닌 단일 리스트로 확장
var = [1, 2, 3]
var.extend([4, 5])
print(var)

In [ ]:
# 리스트 수정: 인덱싱 이용
var = [1, 2, 3, 4, 5]
var[2] = 10
print(var)

In [ ]:
# 리스트 수정: 인덱싱 이용
var[3] = ['a', 'b', 'c']
print(var)

In [ ]:
# 리스트 수정: 슬라이싱 이용
var[0 : 2] = ['가', '나']
print(var)

In [ ]:
# 리스트 내 요소 삭제: del 명령어 / 인덱싱
var = [1, 2, 3]
del var[0]
print(var)

In [ ]:
# 리스트 내 요소 삭제: del 명령어 / 슬라이싱
var = [1, 2, 3]
del var[0:2]
print(var)

In [ ]:
# 슬라이싱으로 범위 지정 후 빈 리스트([]) 입력 시 데이터 삭제
var = [1, 2, 3]
var[0:2] = []
print(var)

In [ ]:
# remove(x) : 리스트에서 첫 번째로 나오는 x를 삭제
var = [1, 2, 3]
var.remove(1)
print(var)

In [24]:
# pop() : 리스트의 맨 마지막 요소를 반환하고 해당 요소는 삭제
var = [1, 2, 3]
var.pop()
print(var)

[1, 2]

In [25]:
# sort() : 리스트 내 데이터 정렬(오름차순)
var = [2, 4, 1, 3]
var.sort()
print(var)

[1, 2, 3, 4]

##### 2.2.4 튜플
---

In [ ]:
# 튜플: 리스트와 흡사하나 소괄호(()) 이용해 생성하고, 값 수정 및 삭제 불가
#    값이 하나인 경우 값 뒤에 반드시 콤마(,) 입력
var = (1, )
print(var)

In [ ]:
# 튜플도 중첩 가능
var = (1, 2, ('a', 'b'))
print(var)

In [ ]:
# 튜플은 값 삭제 불가
var = (1, 2)
del var[0]

In [ ]:
# 튜플도 인덱싱이나 슬라이싱은 리스트와 동일
var = (1, 2, 3)
var[0]

##### 2.2.5 딕셔너리
---

In [ ]:
#  딕셔너리: 대응 관계를 나타내는 자료형, 중괄호({})를 이용해 생성하며 
#     키:값 형태
var = {'key1' : 1, 'key2' : 2}
print(var)

In [ ]:
# 딕셔너리 값으로 리스트나 튜플 형태도 가능
var = {'key1' : [1, 2, 3], 'key2' : ('a', 'b', 'c')}
print(var)

In [ ]:
# 딕셔너리 키를 사용해 값 구하기
var = {'key1' : 1, 'key2' : 2, 'key3' : 3}
var['key1']

In [ ]:
# 딕셔너리 쌍 추가하기(예시: 키는 key3, 값은 3인 딕셔너리 쌍 추가)
var = {'key1': 1, 'key2': 2} 
var['key3'] = 3 
print(var)

In [ ]:
# 딕셔너리 쌍 삭제: del 명령어
del var['key1'] 
print(var)

In [ ]:
# 딕셔너리 키와 값을 한번에 구하기
#    var.keys() 입력하면 var라는 딕셔너리에서 키만을 모아 dict_keys 객체로 반환
var = {'key1': 1, 'key2': 2, 'key3': 3}
var.keys()

In [ ]:
# 결과를 list()로 감싸 주면 키값이 리스트 형태로 출력
list(var.keys())

In [ ]:
# var.values()는 var라는 딕셔너리 에서 값만을 모아 dict_values 객체 로 반환
var.values()

##### 2.2.6 집합
---

In [ ]:
# set() : 집합 자료형
#    set() 내에 리스트를 입력 하면 집합이 만들어진다.
set1 = set([1, 2, 3])
print(set1)

In [ ]:
# 집합 자료형은 중복 허용 안됨, 순서 없음
set2 = set('banana')
print(set2)

In [ ]:
# 데이터 정의
s1 = set([1, 2, 3, 4])
s2 = set([3, 4, 5, 6])

In [ ]:
# union() : 합집합
s1.union(s2)

In [ ]:
# intersection() : 교집합
s1.intersection(s2)

In [ ]:
# difference() : 차집합
s1.difference(s2)

##### 2.2.7 불리언(Boolean)
---

In [9]:
# 불리언 Boolean 자료형: 참 True 또는 거짓 False을 나타내는 자료형
#    True와 False의 첫 문자는 항상 대문자
var = True 
type(var)

bool

In [10]:
1 == 1

True

In [19]:
1 != 2

True

In [18]:
# bool() : True와 False를 반환 하는 함수(숫자 0은 False)
bool(0)

False

In [17]:
#  0이 아닌 숫자는 True
bool(1)

True

In [12]:
bool(2)

True

##### 2.2.8 날짜와 시간
---

In [3]:
# 날짜, 시간 구하기(datetime 패키지)
import datetime 
var = datetime.datetime.now()
var

datetime.datetime(2024, 9, 13, 15, 41, 6, 516826)

In [4]:
type(var)

datetime.datetime

In [5]:
# 연도
print(var.year)

2024

In [6]:
# 월
print(var.month)

9

In [7]:
# 각 속성 한번에 출력
var.year, var.month, var.day, var.hour, var.minute, var.second, var.microsecond

(2024, 9, 13, 15, 41, 6, 516826)

In [8]:
# 요일
# 0 : 월요일, 1 : 화요일, 2 : 수요일, 3 : 목요일, 
# 4 : 금요일, 5 : 토요일, 6 : 일요일
var.weekday()

4

In [9]:
# date() : 날짜 관련 정보
var.date()

datetime.date(2024, 9, 13)

In [10]:
# time() : 시간 관련 정보
var.time()

datetime.time(15, 41, 6, 516826)

In [11]:
# strftime() : 시간 정보를 문자열 로 바꿈
var.strftime('%Y-%m-%d')

'2024-09-13'

In [13]:
# strptime() : 문자열에서 시간 정보 확인
datetime.datetime.strptime("2024-04-16 11:59:59", "%Y-%m-%d %H:%M:%S")

datetime.datetime(2024, 4, 16, 11, 59, 59)

In [14]:
# 날짜 및 시간 간격 구하기
dt1 = datetime.datetime(2022, 12, 31) 
dt2 = datetime.datetime(2021, 12, 31) 
td = dt1 - dt2 
td

datetime.timedelta(days=365)

In [15]:
# 날짜에 특정 기간 더하기(timedelta 객체 이용 - 날짜와 초단위로 연산 가능)
dt1 = datetime.datetime(2021, 12, 31) 
dt1 + datetime.timedelta(days = 1)

datetime.datetime(2022, 1, 1, 0, 0)

In [16]:
# 월 단위로 더하는 경우는 dateutil 패키지의 relativedelta 클래스를 이용
from dateutil.relativedelta import relativedelta
dt1 + relativedelta(months = 1)

datetime.datetime(2022, 1, 31, 0, 0)

In [17]:
# time 패키지의 sleep() 함수 사용 시 일정 시간 프로세스 일시정지
import datetime 
import time 

for i in range(3) : 
    print(i) 
    print(datetime.datetime.now()) 
    print('-------') 
    time.sleep(2)

0
2024-09-13 15:55:59.108033
-------
1
2024-09-13 15:56:01.108912
-------
2
2024-09-13 15:56:03.109826
-------

#### 2.3 제어문
##### 2.3.1 if문
---

In [18]:
# if문의 기본 구조 - 조건문 뒤에 콜론(:), 아래 실행문은 공백 4번(또는 탭)
x = 2

if x > 0:
    print('값이 0보다 큽니다.')

값이 0보다 큽니다.

In [19]:
# 조건문이 False일 때 실행할 상황은 else를 이용
x = -1

if x > 0: 
    print('값이 0보다 큽니다.') 
else: 
    print('값이 음수 입니다.')

값이 음수 입니다.

In [23]:
# 조건이 여러 개인 다중 조건을 판단하려면 if와 else 사이에 elif를 추가
# elif는 개수에 제한 없이 사용 가능
x = 3 

if x >= 10: 
    print('값이 10보다 큽니다.') 
elif x >= 0:
    print('값이 0 이상 10 미만입니다.') 
else: 
    print('값이 음수 입니다.')

값이 0 이상 10 미만입니다.

In [ ]:
# 조건문 if 와 else 로만 구성 될 경우 간단히 작성 가능
# [조건문이 True인 경우] if 조건문 else [조건문이 False인 경우]
X = 7 

'양수' if x >= 0 else '음수'

'양수'

##### 2.3.2 while문
---

In [28]:
# while문(반복문) : 특정 조건을 만족하는 동안 반복해서 코드 실행
num = 1 
while num < 5: 
    print(num)
    num = num + 1

1
2
3
4

In [29]:
# while문 내부에 if문 추가 가능
num = 1 
while num < 10: 
    if num % 2 == 0:
        print (f'{num}은 짝수입니다.') 
    num = num + 1

2은 짝수입니다.
4은 짝수입니다.
6은 짝수입니다.
8은 짝수입니다.

In [30]:
# 코드 실행중 특정 조건 만족 시 멈추게 하고 싶을 경우 if문에 break를 사용
money = 1000 
while True:
    money = money - 100 
    print(f'잔액은 {money}원 입니다.') 
    
    if money <= 0: 
        break

잔액은 900원 입니다.
잔액은 800원 입니다.
잔액은 700원 입니다.
잔액은 600원 입니다.
잔액은 500원 입니다.
잔액은 400원 입니다.
잔액은 300원 입니다.
잔액은 200원 입니다.
잔액은 100원 입니다.
잔액은 0원 입니다.

##### 2.3.3 for문
---

In [31]:
# for문은 while문과 동일한 반복문 이지만, 
# 무한히 반복되는 것이 아닌 정해진 횟수만큼만 반복
# for 변수 in 리스트(또는 튜플, 문자열): 
var = [1, 2, 3] 

for i in var: 
    print(i)

1
2
3

In [32]:
# for문도 if문과 함께 사용 가능
var = [10, 15, 17, 20] 

for i in var: 
    if i % 2 == 0:
        print(f'{i}는 짝수 입니다.') 
    else: 
        print(f'{i}는 홀수 입니다.')

10는 짝수 입니다.
15는 홀수 입니다.
17는 홀수 입니다.
20는 짝수 입니다.

In [ ]:
# for문은 range() 함수와 자주 사용
# range() 함수: 숫자(정수) 리스트를 자동으로 생성
for i in range(5): 
    print(i)

0
1
2
3
4

In [37]:
for i in range(0, 5): 
    print(i)

0
1
2
3
4

In [43]:
# 제곱을 구하는 예시
a = [1, 2, 3]

result = []   # 빈 리스트 생성
for i in a:    # 제곱을 구한 후 리스트에 추가(append)
    result.append(i**2) 
print(result)

[1, 4, 9]

In [ ]:
# 리스트 내포 안에 for 조건 사용시 간단히 표현 가능
# [실행 for 변수 in 리스트(또는 튜플, 문자열)]
# → 기존의 for문에서 위아래 변경 후 리스트 내에 넣어서 표현
result = [i**2 for i in a] 
print(result)

[1, 4, 9]

##### 2.3.4 오류에 대한 예외 처리
---

In [ ]:
# try-except문을 이용하면 예외 처리, 즉 오류가 발생할 경우 이를 무시하고 넘어갈 수 있다.
try
    expr  # 실행하고자 하는 코드
except:
    error-handler-code  # 오류 발생 시 실행할 코드
else:
    running-code  # expr 코드가 문제가 없을 경우 실행되는 코드(생략 가능)
finally:
    cleanup-code  # 오류 여부와 관계 없이 무조건 수행할 구문(생략 가능)

In [ ]:
# 오류 발생 예제
number = [1, 2, 3, "4", 5]

for i in number:
    print(i ** 2)

1
4
9

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [2]:
# try-except문 예제
number = [1, 2, 3, "4", 5]

for i in number:
    try:
        print(i ** 2)
    except:
        print('Error at: ' + i)

1
4
9
Error at: 4
25

##### 2.3.5 tqdm() 함수를 이용한 진행 단계 확인하기
---

In [3]:
# tqdm() 함수를 이용한 진행 단계 확인
import time
from tqdm import tqdm

for i in tqdm(range(10)):
    time.sleep(0.1)

100%|██████████| 10/10 [00:01<00:00,  9.76it/s]

#### 2.4 함수
---

In [ ]:
# 함수 정의
def f(x):      # def 키워드를 통해 함수임을 선언, f는 함수명, x는 매개변수
    statement  # 실행할 코드
    return y   # 결괏값으로 y 반환 후 함수 종료

In [ ]:
# 제곱근 계산 함수 예시(매개변수 하나)
def sqrt(x):
    res = x**(1/2)
    return res

In [11]:
sqrt(4)

2.0

In [13]:
sqrt(9)

3.0

In [15]:
# 매개변수 여러개인 함수 예시
def multiply(x, y):
    res = x**y
    return res

In [ ]:
# 각 매개변수 값 직접 지정
multiply(x = 3, y = 4)

81

In [ ]:
# 인자만 입력 시 함수에서 정의한 매개변수 순서에 따라 지정
multiply(5, 2)

25

In [ ]:
# 기본값이 설정된 함수 예시
# 매개변수에 기본값을 설정하여 값을 입력하지 않을 경우 기본값이 자동 입력
def divide(x, n = 2):  # 매개변수 n에 기본값 2 설정
    res = x / n
    return(res)

In [21]:
divide(3)

1.5

In [22]:
divide(6, 3)

2.0

##### 2.4.1 람다 함수
---

In [ ]:
# 람다(lambda)를 이용하여 간단히 함수 만들기
# statement : 실행할 코드
함수명 = lambda 매개변수1, 매개변수2, ...: statement

SyntaxError: invalid syntax (3138149767.py, line 2)

In [24]:
# 람다를 이용한 함수 생성 예제
divide_lam = lambda x, n: x / n

In [25]:
divide_lam(6, 3)

2.0

#### 2.5 패키지 사용하기
---

In [ ]:
# 불러온 패키지 안의 내용을 살펴볼 때는 "dir(패키지 이름)" 또는 "dir(패키지 별명)"을 입력
import selenium
dir(selenium)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__']

In [5]:
# 하위 패키지 중에는 상위 패키지를 불러올 때 자동으로 불러오는 것이 있지만 
# 그렇지 않은 경우 수동으로 불러와야 한다.
import selenium.webdriver
dir(selenium.webdriver)[1:20]

['Chrome',
 'ChromeOptions',
 'ChromeService',
 'ChromiumEdge',
 'DesiredCapabilities',
 'Edge',
 'EdgeOptions',
 'EdgeService',
 'Firefox',
 'FirefoxOptions',
 'FirefoxProfile',
 'FirefoxService',
 'Ie',
 'IeOptions',
 'IeService',
 'Keys',
 'Proxy',
 'Remote',
 'Safari']

In [7]:
# 패키지의 함수를 사용하기 위해서는 "패키지 이름.함수()" 또는 "패키지 별명.함수()"를 입력
import seaborn as sns

iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# 패키지 로드 시 모든 함수가 아닌 특정 함수만 선택해서 로드 가능
# "from 패키지 이름 import 함수" 또는 
# "from 패키지 이름 import 함수1, 함수2, 함수3, ..."
# 특정 함수만 불러온 경우, 함수명 앞에 패키지 이름을 붙여 주지 않아도 함수 작동
# 한 번에 모든 함수를 불러오고 싶을 때는 "from 패키지이름 import *"
from seaborn import load_dataset
load_dataset('iris')

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

##### 2.5.1 함수와 메서드의 차이
---

In [10]:
# 함수는 특정 기능을 수행하는 역할을 하며, 각 함수마다 나름의 기능을 가지고 있다.
# sum은 내장 함수로 합계를 구한다.
sum([1, 2])

3

In [12]:
# 특정 패키지에서 제공하는 함수도 있다.
# pandas의 DateFrame() 함수는 데이터프레임을 만드는 역할
import pandas as pd
df = pd.DataFrame({'x' : [1, 2, 3]})

df

   x
0  1
1  2
2  3

In [ ]:
# 반면 메서드는 클래스 및 객체와 연관되어 있는 함수이다.
# info() 메서드는 데이터프레임 객체의 정보를 보여준다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       3 non-null      int64
dtypes: int64(1)
memory usage: 156.0 bytes

In [15]:
# 각 객체 또는 자료 구조에 따라 사용할 수 있는 메서드가 다르다. 
# info() 메서드는 데이터프레임에는 사용 가능, 리스트 객체에는 사용 불가
lst = [1, 2, 3]
lst.info()

AttributeError: 'list' object has no attribute 'info'

"함수"는 sum(), pd.DataFrame()과 같이 독립적으로 사용되는 반면,   
"메서드"는 a라는 특정 객체가 존재할 때 a.head(), a.info()와 같은 형태로 사용된다.